*{
  padding: 0;
  margin: 0;
}
ul{
  list-style: none;
  min-width: 300px;
  max-width: 400px;
  
}
ul > li {
  color:#fff;
  background-color: #3c3c3c;
  padding: 10px;
  margin: 2px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  padding: 10px;
}
button{
  padding: 12px 20px;
  background-color: #adaaaa;
  border: none;
}